* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-family: "Arial", sans-serif;
}

.app {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: orange;
  padding: 12px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__button {
    width: 100px;
    text-transform: uppercase;

    border: none;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 288px;

  margin-top: 60px;
  padding: 40px 0;
  border: 4px double grey;

  &__count {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    padding: 0 32px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 100px;
    height: 40px;

    font-size: 24px;
    cursor: pointer;

    background: rgb(255, 136, 0);
    border: none;
    box-shadow: 1px 1px 4px black;

    transition: all 0.1s linear;

    &:hover {
      background: orange;
    }

    &:active {
      box-shadow: 0 0 0 transparent;
    }
  }
}

.todos {
  margin: 60px auto 24px;

  &__buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  width: 288px;
  margin-bottom: 16px;
  padding: 8px;

  border: 4px double grey;

  &__title {
    flex-grow: 1;
  }

  &__checkbox,
  &__button {
    width: 24px;
    height: 24px;

    cursor: pointer;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  padding: 8px 12px;
  cursor: pointer;
}
